/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
    
    main {
        display: block;

        a img {
            width: 40%;
            padding: .5em;
            border-radius: 20px;
        }
        
        figure {
            margin: 1em 0 0 2em;
        }
        
        figcaption {
            text-align: left;
        }
    }
    
    .lg-sub-html {
        font-size: .9em;
        padding: 8px 40px;
    }
    
    .lg-toolbar .lg-icon, 
    .lg-counter {
        font-size: 1.25em;
        height: 1.65em;
    }
    
    .lg-actions .lg-next, 
    .lg-actions .lg-prev {
        background-color: rgba(255, 255, 255, 0);
        font-size: 2em;
        padding: 1em .6em 1em 1em;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    body aside nav {
        left: 2em;
    }
    
    figure {
        
        section {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        a img {
            width: 16em;
            margin: .5em;
        }
        
        figcaption {
            text-align: center;
        }
    }
    
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) {
    
    figure figcaption {
        font-size: .9em;
    }

}

/* 4k/TV */
@media screen and (min-width: 120em) { 
    
     body {
        padding: 0 20%;
         
         h1 {
             font-size: 3.5em;
         }
         
         figure {
             padding: 2.5em 0;
             
             a img {
                 width: 20em;
             }
         } 
         
         figcaption, .lg-sub-html {
             font-size: 1.75em;
         }
         
         aside nav {
             padding: 0;
             left: -2em;
         }
         
         nav a {
             font-size: 1.5em;
         }
        
    }

}