/* Navigation */
aside {
    position: fixed;
    
    nav {
        position: relative;
        float: left;
        top: -4em;
        left: 0;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        
    }

    img {
        width: 2.25em;
    }
}

/*12px / 16px = 0.75em*/
nav a {
    color: $primary-color;
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.75em;
    padding: 0.1875em;
    margin: auto;
    text-decoration: none;
}

/* Active */
nav a:hover,
nav a:active,
nav a:focus {
    background: $second-color;
    color: $blue;
}

/* Icons */

footer {
    border-top: .1em $primary-color solid;
    padding: 1em;
    display: flex;
    justify-content: center;
}

/*12px / 16px = 0.75em*/
footer .icon {
    height: auto;
    width: 0.9em;
    margin-right: 0;
    align-self: center;
}

footer .user {
    width: 1.2em;
}