@import 'lg-transitions.min';
@import 'lightgallery.min';
@import 'media-queries';

/********************
YOUR STYLES
*******************/

body {
    background: red;
}

a img {
    height: 200px;
    padding: .5em;
    border-radius: 20px;
}

main {
    display: flex;
    flex-flow: wrap;
}

figure {
    width: 500px;
}

figcaption {
    margin: .5em;
    width: 75%;
}

.lg-backdrop {
    background: #111;
}

.lg-sub-html, .lg-toolbar {
    background: #385a65;
}

.lg-sub-html {
    color: #fff;
}
