@import 'lg-transitions.min';
@import 'lightgallery.min';
@import 'media-queries';

/********************
YOUR STYLES
*******************/

$primary-color: #385a65;
$primary-dark: darken($primary-color, 25%);
$purple: #816565;
$orange: #ed852d;

body {
    background: #0b0b0b;
}

figcaption {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    margin: .5em;
}

// Gallery Styling
.lg-backdrop {
    background: $primary-dark;
}

.lg-sub-html, 
.lg-toolbar {
    background: $primary-color;
    opacity: .65;
}

.lg-sub-html {
    font-size: .9em;
    padding: 8px 40px;
}

.lg-sub-html {
    color: #fff;
}

.lg-toolbar .lg-icon {
    padding: .25em 1em;
}

.lg-toolbar .lg-icon, 
.lg-counter {
    font-size: 1.25em;
    height: 1.65em;
}

.lg-actions .lg-next, 
.lg-actions .lg-prev {
    background-color: rgba(255, 255, 255, 0);
    font-size: 2em;
    padding: 1em .6em 1em 1em;
}